@font-face {
  font-family: delius;
  src: url("../font/Delius-Regular.ttf");
}

@font-face {
  font-family: lico;
  src: url("../font/Licorice-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lico;
  font-size: 62.5%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1581431886211-6b932f8367f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=5070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin: 10vh auto 5vh auto;
  color: #102c57;
  font-size: 15rem;
  font-weight: 100;
}

nav {
  margin: 0 35%;
}

nav a {
  text-decoration: none;
  color: #102c57;
  font-size: 5rem;
}

nav div {
  height: 50px;
}

nav a:hover {
  color: #102c578f;
  transition: 0.5s;
}

/* - css für repo */

h2 {
  color: #860e0ec1;
  font-size: 2.5rem;
  margin: 20px auto 10px 30%;
  font-family: delius;
}

h3 {
  color: #102c57;
  font-size: 2rem;
  margin: 20px auto 10px 32%;
  font-family: delius;
}

h3 span {
  color: #102c57;
  font-size: 2rem;
  font-family: delius;
}

ol li,
ul li {
  color: #102c57;
  font-size: 1.6rem;
  font-family: delius;
  margin-left: 33%;
}

.back {
  color: #102c57;
  position: fixed;
  font-size: 1.6rem;
  font-family: delius;
  bottom: 5vh;
  left: 60%;
}

/* -branch style */

p {
  color: #102c57;
  font-size: 1.6rem;
  font-family: delius;
  margin-left: 30%;
  width: 38%;
  margin-bottom: 10px;
}

li span {
  color: #6e5045;
  font-size: 1.6rem;
  font-family: delius;
}
